	.table{	margin:0px; }
	.table tr:first-child td{
		border-top: none;		
		}
	#gerencia, #supervisao, #ano{
		width:135px;
		height:27px;
		font-size:11px;
	}
	.panelPrincipal{
		width:1124px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
		margin-top:0px;
		text-align:center;
	}

	.headingPrincipal{
		width:1122px;
		text-align:center;
	}
	.panelSecundario{
		width:553px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
		margin-top:0px;
		text-align:center;
	}
	.headingSecundario{
		width:551px;
		text-align:center;
	}
	.fontColor{
		color: #747678;
	}
	.btnHelp{
		position: relative;
		top: 0px;
	}